{% extends 'base.template' %}

{% block scripts %}{% end %}

{% block nav %}
{% end %}

{% block body %}
<div class="container col-4">
  <div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form action="/login/dblogin" method="POST">
        <input type="hidden" name="next" value="{{next_url}}" />
        <div class="mb-3">
          <label for="inputUser" class="form-label">User</label>
          <input type="text" class="form-control" id="inputUser" name="username" required autofocus>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password">
        </div>
        <button type="submit" class="btn btn-primary float-end">Sign in</button>
      </form>
    </div>
  </div>
  {% if message %}
  <div class="card text-bg-danger">
    <div class="card-body">
      {{ message }}
    </div>
  </div>
  {% end %}
</div>
{% end %}
